<a href="https://colab.research.google.com/github/Alan-Hans/Portafolio-DataScientist/blob/main/Restaurant_Recomendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Restaurant Recomendation

In this project we aim to analize a dataframe from the famous app, TripAdvisor. We obtained this data from Kaggle, https://www.kaggle.com/datasets/siddharthmandgi/tripadvisor-restaurant-recommendation-data-usa

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns 
import io as BytesIO
import io

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Restaurant-Recomendation.csv to Restaurant-Recomendation.csv

In [3]:
df = pd.read_csv(io.BytesIO(uploaded["Restaurant-Recomendation.csv"]))
df.head()

,Name,Street Address,Location,Type,Reviews,No of Reviews,Comments,Contact Number,Trip_advisor Url,Menu,Price_Range
0,Betty Lou's Seafood and Grill,318 Columbus Ave,"San Francisco, CA 94133-3908","Seafood, Vegetarian Friendly, Vegan Options",4.5 of 5 bubbles,243 reviews,NaN,+1 415-757-0569,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$
1,Coach House Diner,55 State Rt 4,"Hackensack, NJ 07601-6337","Diner, American, Vegetarian Friendly",4 of 5 bubbles,84 reviews,"Both times we were there very late, after 11 P...",+1 201-488-4999,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$
2,Table Talk Diner,2521 South Rd Ste C,"Poughkeepsie, NY 12601-5476","American, Diner, Vegetarian Friendly",4 of 5 bubbles,256 reviews,Waitress was very friendly but a little pricey...,+1 845-849-2839,https://www.tripadvisor.com//Restaurant_Review...,http://tabletalkdiner.com/menu/breakfast/,$$ - $$$
3,Sixty Vines,3701 Dallas Pkwy,"Plano, TX 75093-7777","American, Wine Bar, Vegetarian Friendly",4.5 of 5 bubbles,235 reviews,Not sure why I went there for the second time....,+1 469-620-8463,https://www.tripadvisor.com//Restaurant_Review...,https://sixtyvines.com/menu/plano-tx/,$$ - $$$
4,The Clam Bar,3914 Brewerton Rd,"Syracuse, NY 13212","American, Bar, Seafood",4 of 5 bubbles,285 reviews,Doesn't look like much from the outside but wa...,+1 315-458-1662,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$

The data contain some null's values, but we online going to delete the type's null because some people give the feedback but no comments.

In [20]:
df.isnull().sum()

Name                  0
Street Address        0
Location              0
Type                 13
Reviews               0
No of Reviews         0
Comments            615
Contact Number        0
Trip_advisor Url      0
Menu                  0
Price_Range           0
dtype: int64

In [25]:
df = df[~df['Type'].isnull()]

Name                  0
Street Address        0
Location              0
Type                  0
Reviews               0
No of Reviews         0
Comments            609
Contact Number        0
Trip_advisor Url      0
Menu                  0
Price_Range           0
dtype: int64

In [27]:
from sklearn.feature_extraction import text
from sklearn.metrics.pairwise import cosine_similarity

feature = df["Type"].tolist()
tfidf = text.TfidfVectorizer(input=feature, stop_words="english")
tfidf_matrix = tfidf.fit_transform(feature)
similarity = cosine_similarity(tfidf_matrix)

In [45]:
indices = pd.Series(df.index, index=df['Name']).drop_duplicates()

In [48]:
def restaurant_recommendation(name, similarity = similarity):
    index = indices[name]
    similarity_scores = list(enumerate(similarity[index]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    similarity_scores = similarity_scores[0:20]
    restaurantindices = [i[0] for i in similarity_scores]
    return df['Name'].iloc[restaurantindices]

print(restaurant_recommendation("Market Grill"))

23                                  The Lion's Share
154                                       Houlihan's
518                           Midgley's Public House
568                                Aspen Creek Grill
770                             Pete's Sunset Grille
1190                    Paul Martin's American Grill
1581                                  Aviation Grill
1872                                  Aviation Grill
2193                               Crest Bar & Grill
2612                   Tahoe Joe's Famous Steakhouse
268                          Morton's The Steakhouse
501                            Saltgrass Steak House
758                                     Waffles Cafe
1071                                           Cured
1249                       Red Robin Gourmet Burgers
1753    Fresno Fleming's Prime Steakhouse & Wine Bar
2132                          The Grill on the Alley
2269                          Bob's Burgers and Brew
2652                                    Metuchen Inn
89                               Elements Restaurant
Name: Name, dtype: object